<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/css :: css}"></th:block>
    <title>Bitnal</title>
</head>
<body class="is-preload">
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <th:block th:replace="~{fragment/header :: header}"></th:block>
            <!-- Banner -->

            <section>

                <form method="get" th:action="@{/posts/search}">
                    <input type="text" name="keyword" th:value="${search.keyword}" placeholder="Search title, nickname " />
                    <div style="margin-top: 5px;">
                        <input type="date" name="startDate" th:value="${search.startDate}" th:max="${search.maxDate}">
                        <input type="date" name="endDate" th:value="${search.endDate}" th:max="${search.maxDate}">
                        <input type="submit" value="Search" class="primary small" style="float: right;"/>
                    </div>
                </form>

                <button type="button" th:onclick="|location.href='@{/posts/registration}'|">글쓰기</button>
            </section>

            <section>
                <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Title</th>
                            <th>Nickname</th>
                            <th>Hit</th>
                            <td>Updated On</td>
                        </tr>
                        </thead>
                        <tbody th:each="post : ${posts}">
                            <tr>
                                <td th:text="${post.id}"></td>
                                <td th:text="${post.title}"></td>
                                <td th:text="${post.user.nickname}"></td>
                                <td th:text="${post.hit}"></td>
                                <td th:text="${post.lastModifiedDate}"></td>
                            </tr>
                        </tbody>

                        <tfoot>

                        </tfoot>
                    </table>

                    <div>
                        <span>
                            <button th:if="${posts.first}" disabled th:onclick="|location.href='@{/posts(keyword=${param.keyword}, startDate=${param.startDate}, endDate=${param.endDate}, page=${posts.number-1})}'|">이전</button>
                            <button th:unless="${posts.first}" th:onclick="|location.href='@{/posts(keyword=${param.keyword}, startDate=${param.startDate}, endDate=${param.endDate}, page=${posts.number-1})}'|">이전</button>
                        </span>
                        <span>
                            <button th:if="${posts.last}" disabled th:onclick="|location.href='@{/posts(keyword=${param.keyword}, startDate=${param.startDate}, endDate=${param.endDate}, page=${posts.number+1})}'|">다음</button>
                            <button th:unless="${posts.last}" th:onclick="|location.href='@{/posts(keyword=${param.keyword}, startDate=${param.startDate}, endDate=${param.endDate}, page=${posts.number+1})}'|">다음</button>
                        </span>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <th:block th:replace="~{fragment/sidebar :: sidebar}"></th:block>
</div>

<th:block th:replace="~{fragment/js :: js}"></th:block>
</body>
</html>