<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/css :: css}"></th:block>
    <title>Bitnal</title>
</head>
<body class="is-preload">
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <th:block th:replace="~{fragment/header :: header}"></th:block>
            <!-- Banner -->
            <section id="banner">
                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Bitnal Communicate</h2>
                    </header>
                    <div class="posts">
                        <article>
                            <h3>Sign in with Bitnal Account</h3>
                            <p>Share scans, designs and case information. Manage your profile and connections between practices and labs.</p>
                            <ul class="actions">
                                <li><a th:href="@{/login}" class="button">Sign in</a></li>
                            </ul>
                        </article>
                        <article>
                            <h3>Don’t have a Bitnal Account?</h3>
                            <p>You need to create a 3Shape Account to access 3Shape systems such as Communicate.</p>
                            <ul class="actions">
                                <li><a th:href="@{/sign-up}" class="button">Create Account</a></li>
                            </ul>
                        </article>
                    </div>
                </section>
            </section>

            <a th:href="@{/forgot-password}" class="logo">Reset password or activate account</a>

        </div>
    </div>
    <th:block th:replace="~{fragment/sidebar :: sidebar}"></th:block>
</div>

<th:block th:replace="~{fragment/js :: js}"></th:block>
</body>
</html>