<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/css :: css}"></th:block>
    <title>Bitnal</title>
</head>
<body class="is-preload">
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <th:block th:replace="~{fragment/header :: header}"></th:block>
            <!-- Banner -->
            <section id="banner">
                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Bitnal password recovery</h2>
                    </header>

                    <form method="post" th:action="@{/account-recovery}" th:object="${user}">
                        <div class="row gtr-uniform">

                            <div class="col-12">
                                <input type="hidden" name="email" th:field="*{email}"/>
                            </div>

                            <div class="col-12">
                                <input type="password" name="newPassword" th:field="*{newPassword}" placeholder="New password" />
                            </div>

                            <div>
                                <span class="field-error" th:errors="*{newPassword}"></span>
                            </div>

                            <div class="col-12">
                                <input type="password" name="rePassword" th:field="*{rePassword}" placeholder="Re-enter new password" />
                            </div>

                            <div>
                                <span class="field-error" th:errors="*{rePassword}"></span>
                            </div>

                            <!-- Break -->
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="Save" class="primary" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </section>

        </div>
    </div>
    <th:block th:replace="~{fragment/sidebar :: sidebar}"></th:block>
</div>

<th:block th:replace="~{fragment/js :: js}"></th:block>
</body>
</html>